[Unit]
Description=TeamCity Agent
After=network.target

[Service]
Type=oneshot
# Support agent upgrade as the main process starts a child and exits then
RemainAfterExit=yes
# OR: Type=forking

User=teamcity
Group=teamcity
ExecStart={{ __teamcity_agent_install_path }}/bin/agent.sh start
ExecStop=-{{ __teamcity_agent_install_path }}/bin/agent.sh stop

# Support agent upgrade as the main process gets SIGTERM during upgrade and that maps to exit code 143
SuccessExitStatus=0 143

[Install]
WantedBy=default.target